@model ProdctandCatagory.EF.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cid)
        </dd>
        <dt>
            Category Name
        </dt>

        <dd>
            @ViewBag.CategoryName
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "ProductView")
</p>
